apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres-deployment
  template:
    metadata:
      labels:
        app: postgres-deployment
    spec:
      containers:
      - name: postgres
        image: postgres:18.0-alpine3.22
        env:
          - name: POSTGRES_USER
            valueFrom:
              secretKeyRef:
                name: postgres-env
                key: username
          - name: POSTGRES_PASSWORD
            valueFrom:
              secretKeyRef:
                name: postgres-env
                key: password
          - name: POSTGRES_DB
            valueFrom:
              secretKeyRef:
                name: postgres-env
                key: database
        resources:
          limits:
            memory: "500Mi"
            cpu: "500m"
          requests:
            memory: "130Mi"
            cpu: "500m"
        ports:
          - containerPort: 5432

